<div class="container py-4">
  <div class="pb-4">
    <%= link_to "Back", assignee_profile_path(@assignee) %>
  </div>
  <h1 class="mb-3">
    Vacation days: 
    <span  >
      <%= number_with_precision(@assignee.vacation_days_available, precision: 1) %>
      <%= link_to "", "#", id: "addVacationDaysLink", class: "bi bi-plus-square-fill text-dark small" %>
    </span>
    for 
    <%= @assignee.name %>
  </h1>
  <div>
    <%= link_to "Add a new vacation to #{@assignee.name}", "#", id: "addVacationLink", class: "btn btn-success btn-sm mb-4 text-dark" %>
  </div>
</div>
<%= render "vacations_list"%>
<!-- Selling price modal -->
<div class="modal fade" id="AddVacationModal" tabindex="-1" aria-labelledby="AddVacationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddVacationModalLabel">Add Vacation</h5>
        <button type="button" class="btn-close" id="dismissButton" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", vacation: @vacation, assignee: @assignee %>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Update Vacation days -->
<div class="modal fade" id="addVacationDaysModal" tabindex="-1" aria-labelledby="addVacationDaysModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addVacationDaysModalLabel">Add Vacation days</h5>
        <button type="button" class="btn-close" id="dismissButton" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "assignees/form_vacation_days", assignee: @assignee %>
      </div>
    </div>
  </div>
</div>