<%= form_tag(tasks_path, method: :get, class: "row g-3 align-items-end") do %>
  <div class="col-md-3">
    <%= select_tag(:assignee, options_for_select(Assignee.pluck(:name), params[:assignee]), prompt: "Filter by assignee", class: "form-select") %>
  </div>
  <div class="col-md-3">
    <%= label_tag(:start_date, "Filter starting from:", class: "form-label") %>
    <%= date_field_tag(:start_date, params[:start_date], class: "form-control") %>
  </div>
  <div class="col-md-3">
    <%= label_tag(:end_date, "To:", class: "form-label") %>
    <%= date_field_tag(:end_date, params[:end_date], class: "form-control") %>
  </div>
  <div class="col-md-2 align-self-end">
    <%= submit_tag("Filter", class: "btn btn-secondary") %>
  </div>
<% end %>
