<div class="col">
  <div class="card card-task border-0 h-100">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="fw-bold text-muted small-text">
        <%= task.status %>: <%= link_to task.jira_id, task_path(task) %>
        &nbsp;<a href="https://agenceinspire.atlassian.net/browse/<%= task.jira_id %>" target="_blank">
          <span><i class="bi bi-box-arrow-up-right"></i></span>
        </a>
      </div>
      <div class="d-flex align-items-center">
        <span class="me-2"><%= priority_icon(task.priority) %></span>
      </div>
    </div>
    <span class="badge bg-secondary"><%= task.epic %></span>
    <div class="card-body">
      <span class="pb-0 pt-0 mt-0 mb-0"><%= link_to task.assignee.name , task.assignee %></span>
      <h5 class="card-title pt-0 pb-0 mt-0 mb-0"><%= link_to task.project.name, task.project %></h5>
      <p class="card-text pt-0 pb-0 mt-0 mb-0">Time Estimation: <%= my_helper_format_duration(task.time_forecast) %></p>
      <p class="card-text pt-0 pb-0 mt-0 mb-0">Time spent: <%= my_helper_format_duration(task.time_spent) %> </p>
      <p class="card-text pt-0 pb-0 mt-0 mb-0">Summary: <%= task.summary %> </p>
      <% task.labels&.split&.each do |label| %>
        <span class="badge rounded-pill bg-primary p-1 m-1"><%= label.gsub(/[^a-zA-Z\s]/, '') %></span>
      <% end %>
    </div>
    <div class="d-flex justify-content-between align-items-end">
      <div class="small-text text-start align-bottom text-muted me-1">
        <div><strong>Reporter: </strong> <%= task.reporter %></div>
      </div>
      <div class="small-text text-end text-muted me-1">
        <% if task.due_date.present? %>
          <div>Start date: <%= task.status_change_date.strftime("%e %B %Y") %></div>
          <div>Due Date: <%= task.due_date.strftime("%e %B %Y") %></div>
        <% else %>
          No Data
        <% end %>
      </div>
    </div>
    <div class="card-footer bg-light">
      <small class="text-muted">
        Created at: <%= task.created_at %>
      </small>
    </br>
    <small class="text-muted">
      Updated at: <%= task.last_jira_update %>
    </small>
  </div>
</div>
</div>
