</br>
<div class="d-flex justify-content-start">
  <%= button_to "Import tasks from JIRA", { action: "retrieve_tasks" }, method: :post, class: "btn btn-success mb-4" %>
  <%= button_to "Delete all tasks", { action: "destroy_all" }, method: :post, class: "btn btn-warning mb-4 ml-2" %></div>
Total tickets: <%= @tasks.count %></br>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @tasks.each do |task| %>
    <div class="col">
      <div class="card">
        <div class="card-header fw-bold text-muted">
          JIRA ID:
          <%= task.jira_id %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Project: <%= task.project.name %></h5>
          <p class="card-text">Status: <%= task.status %></p>
          <p class="card-text">Time Estimation: <%= (task.time_forecast.to_i / 3600).ceil %> hours</p>
          <p class="card-text">Time spent: <%= (task.time_spent.to_i / 3600).ceil %> hours </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            Assigned to:
            <%= task.assignee.name %>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>