</br>
</br>
<div class="d-flex justify-content-start">
  <%= button_to "Import tasks from JIRA", { action: "retrieve_tasks" }, method: :post, class: "btn btn-success mb-4" %>
  <%= button_to "Delete all tasks", { action: "destroy_all" }, method: :post, class: "btn btn-warning mb-4 ml-2" %></div>
Total tickets: <%= @tasks_count %></br>
<div align="right" style="font-size: 80%"><%= page_entries_info @tasks, entry_name: 'task' %></div>
<span class="d-flex flex-row-reverse"><%= link_to_next_page @tasks, 'Next' %>&nbsp;&nbsp;<%= link_to_previous_page @tasks, 'Previous' %></span>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @tasks.each do |task| %>
    <div class="col">
      <div class="card">
        <div class="card-header fw-bold text-muted">
          JIRA ID:
          <%= task.jira_id %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Project: <%= task.project.name %></h5>
          <p class="card-text">Status: <%= task.status %></p>
          <p class="card-text">Time Estimation: <%= my_helper_format_duration(task.time_forecast) %></p>
          <p class="card-text">Time spent: <%= my_helper_format_duration(task.time_spent) %> </p>
          <p class="card-text">Summary: <%= task.summary %> </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            Assigned to:
            <%= task.assignee.name %>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
</br>