<div class="d-flex flex-nowrap gap-1 justify-content-between">
  <div class="list-group pt-4 w-50">
    <h3>Assignees in vacations today:</h3>
    <% @active_vacations.each do |vacation| %>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <div>
            <h5 class="mb-1"><%= vacation.assignee.name %></h5>
            <p class="mb-1"><%= vacation.reason %></p>
            <small class="text-muted">
              Starts: <%= vacation.start_date %><br>
              Ends: <%= vacation.end_date %><br>
            </small>
          </div>
          <small class="text-muted">Duration: 
            <% if vacation.duration %>
              <% if vacation.duration % 1 == 0.5 %>
                <span class="font-weight-bold text-secondary"><%= number_with_precision(vacation.duration, precision: 1) %></span> days
              <% else %>
                <span class="font-weight-bold text-secondary"><%= vacation.duration.to_i %></span> days
              <% end %>
            <% else %>
              <span class="font-weight-bold text-danger">N/A</span>
            <% end %></small>
        </div>
      </a>
    <% end %>
  </div>
  <div class="list-group pt-4 w-50  ">
    <h3>Upcoming Vacations:</h3>
    <% @upcoming_vacations.each do |vacation| %>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <div>
            <h5 class="mb-1"><%= vacation.assignee.name %></h5>
            <p class="mb-1"><%= vacation.reason %></p>
            <small class="text-muted">
              Starts: <%= vacation.start_date %><br>
              Ends: <%= vacation.end_date %><br>
            </small>
          </div>
          <small class="text-muted">Duration: 
            <% if vacation.duration %>
              <% if vacation.duration % 1 == 0.5 %>
                <span class="font-weight-bold text-secondary"><%= number_with_precision(vacation.duration, precision: 1) %></span> days
              <% else %>
                <span class="font-weight-bold text-secondary"><%= vacation.duration.to_i %></span> days
              <% end %>
            <% else %>
              <span class="font-weight-bold text-danger">N/A</span>
            <% end %></small>
        </div>
      </a>
    <% end %>
  </div>
</div>