<div class="d-flex flex-nowrap gap-1 justify-content-between">
  <div class="list-group pt-4 w-50">
    <h3>Assignees in vacations today:</h3>
    <% @active_vacations.each do |vacation| %>
      <a href=<%= assignee_vacations_path(vacation.assignee) %> class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <div>
            <h5 class="mb-1"><%= vacation.assignee.name %></h5>
            <p class="mb-1"><%= vacation.reason %></p>
            <small class="text-muted">
              Starts: <%= vacation.start_date %><br>
              Ends: <%= vacation.end_date %><br>
            </small>
          </div>
          <small class="text-muted">Duration: 
            <% if vacation.duration %>
              <% if vacation.duration % 1 == 0.5 %>
                <span class="font-weight-bold text-secondary"><%= number_with_precision(vacation.duration, precision: 1) %></span> days
              <% else %>
                <span class="font-weight-bold text-secondary"><%= vacation.duration.to_i %></span> days
              <% end %>
            <% else %>
              <span class="font-weight-bold text-danger">N/A</span>
            <% end %></small>
        </div>
      </a>
    <% end %>
  </div>
  <div class="list-group pt-4 w-50  ">
    <h3>Upcoming Vacations:</h3>
    <% @upcoming_vacations.each do |vacation| %>
      <a href= <%= assignee_vacations_path(vacation.assignee) %> class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <div>
            <h5 class="mb-1"><%= vacation.assignee.name %></h5>
            <p class="mb-1"><%= vacation.reason %></p>
            <small class="text-muted">
              Starts: <%= vacation.start_date %><br>
              Ends: <%= vacation.end_date %><br>
            </small>
          </div>
          <small class="text-muted">Duration: 
            <% if vacation.duration %>
              <% if vacation.duration % 1 == 0.5 %>
                <span class="font-weight-bold text-secondary"><%= number_with_precision(vacation.duration, precision: 1) %></span> days
              <% else %>
                <span class="font-weight-bold text-secondary"><%= vacation.duration.to_i %></span> days
              <% end %>
            <% else %>
              <span class="font-weight-bold text-danger">N/A</span>
            <% end %></small>
        </div>
      </a>
    <% end %>
  </div>
</div>
<div class="list-group py-4">
  <h3>Past Vacations:</h3>
  <% @passed_vacations.each do |vacation| %>
    <a href=<%= assignee_vacations_path(vacation.assignee) %> class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <div class="d-flex flex-column">
          <p class="mb-0">
            <strong><%= vacation.assignee.name %></strong> | <%= vacation.reason %> |
            Starts: <%= vacation.start_date %> | Ends: <%= vacation.end_date %> | 
            Duration: <% if vacation.duration %>
              <% if vacation.duration % 1 == 0.5 %>
                <%= number_with_precision(vacation.duration, precision: 1) %> days
              <% else %>
                <%= vacation.duration.to_i %> days
              <% end %>
            <% else %>
              N/A
            <% end %>
          </p>
        </div>
      </div>
    </a>
  <% end %>
</div>

