<div class="container py-3">
  <h1>Team Daily Reports</h1>
  <%= form_tag(admin_daily_reports_path, method: :get) do %>
    <div class="mb-3">
      <%= label_tag :selected_date, "Select Date:" %>
      <%= text_field_tag :selected_date, @date_today, id: "flatpickr-date" %>
    </div>
    <%= submit_tag "Generate Report", class: "btn btn-primary" %>
  <% end %>
  <p>Only active team members are shown here<br>
    Total assignees: <%= @assignees.count %> -- Active assignees: <%= @active_assignees.count %></p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @active_assignees.each do |assignee| %>
      <% total_time_spent_today = 0 %>
      <% assignee_worklogs = TaskWorklog.joins(:task)
                              .where(tasks: { assignee_id: assignee.id })
                              .where("DATE(task_worklogs.created) = ?", @date_today) %>
      <% next if assignee_worklogs.empty? %>
      <% next if assignee_worklogs.empty? %>
      <div class="col">
        <div class="card border-secondary mb-3 card-custom" style="max-width: 19rem; display: flex; flex-direction: column; justify-content: space-between;">
          <div class="card-header text-center"><%= assignee.name %></div>
          <div class="card-body text-secondary">
            <h5 class="card-title text-center">Report: <%= @date_today %></h5>
            <p class="card-text">
              <ul>
                <% assignee_worklogs.each do |worklog| %>
                  <% duration_in_seconds = my_helper_parse_duration(worklog.duration) %>
                  <li>
                    <%= "#{worklog.task.jira_id}: #{my_helper_format_duration(duration_in_seconds)}" %> <br>
                  </li>
                  <% total_time_spent_today += duration_in_seconds %>
                <% end %>
              </ul>
            </p>
          </div>
          <div class="text-end pb-2 p-4">
            <h4>Total: <%= my_helper_format_duration(total_time_spent_today) %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
