<div class="container py-2">
  <div class="row">
    <div class="text-small"><%= @tasks.count %> tasks</div>
    <% @tasks.order(updated_at: :desc).each do |task| %>
      <div class="col-md-2 mb-1 px-1">
        <div class="card" style="height: 100%;">
          <div class="card-header d-flex align-items-center justify-content-between py-0">
            <h6 class="mb-0" style="font-size: 14px;">
              <%= link_to task.jira_id, "https://agenceinspire.atlassian.net/browse/#{task.jira_id}", target: "_blank" %>
            </h6>
            <div>
              <a href="<%= start_jira_issue_comment_job_path(task) %>" class="btn btn-link p-0" data-method="post">
                <i class="bi bi-chat-dots" style="color: black;"></i>
              </a>
              <a href="<%= start_slack_message_job_path(task) %>" class="btn btn-link p-0" data-method="post">
                <i class="bi bi-slack" style="color: black;"></i>
              </a>
            </div>
          </div>
          <div class="card-body py-1" style="font-size: 12px;">
            <p class="mb-0"><strong>Assignee: </strong><%= task.assignee.name %></p>
            <p class="mb-0"><strong>Lead: </strong><%= task.reporter %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
