<div class="navbar navbar-expand-sm navbar-light navbar">
  <div class="container-fluid">
    <div class="navbar-brand-container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "Dev Panel", admin_index_path , class: "nav-link  text-danger" %>
            </li>
          <% end %>
            <li class="nav-item">
              <%= link_to "All the Tasks", tasks_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Projects", projects_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Assignees", assignees_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "https://img.freepik.com/premium-vector/color-diamong-icon-magic-gem-jewel-sign_543062-2891.jpg?w=2000", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <p class="small-text nav-link">
                  <%= current_user.name %>
                  <%= current_user.email %>
                </p>
                <%= form_tag destroy_user_session_path, method: :delete, class: "nav-link" do %>
                  <%= submit_tag "Sign out" %>
                <% end %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
<%= render "shared/flashes" %>
