<div class="project-row">
  <% @projects_with_active_tickets.each do |project| %>
    <span><%= project.jira_id %>: <%= project.tasks.where(status: "In Progress").count %> tickets "In Progress"</span>
    <div class="row">
      <% project.tasks.each_slice(6) do |task_group| %>
        <% task_group.each do |task| %>
          <div class="col-md-3 mb-1 m-1 p-1">
            <div class="card task-card">
              <div class="card-body-active-card">
                <div class="d-flex align-items-center">
                  <span class="badge bg-secondary">
                    <%= link_to task.jira_id, "https://agenceinspire.atlassian.net/browse/#{task.jira_id}", target: "_blank", class: "links_on_active_tasks_cards" %>
                  </span>
                  &nbsp;<i class="bi bi-person-fill-gear"></i> &nbsp; <%= task.assignee.name %>
                </div>
                <% if task.time_forecast.nil? || task.time_spent.nil? %>
                  <div class="progress mt-2">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1"> No data</div>
                  </div>
                <% else %>
                  <% remaining_time = task.time_forecast - task.time_spent %>
                  <% status_class = case remaining_time <=> 0
                            when -1 then 'text-danger'
                            when 0 then 'text-warning'
                            else 'text-success'
                            end %>
                  <div class="progress mt-2">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (task.time_spent / task.time_forecast) * 100 %>%;" aria-valuenow=<% task.time_spent %> aria-valuemin="0" aria-valuemax=<% task.time_forecast %>>
                      <span class="sr-only"><%= "#{my_helper_format_duration(task.time_spent)} / #{my_helper_format_duration(task.time_forecast)}" %></span>
                      <span class="<%= status_class %> remaining-time" style="color:black !important;"><%= "#{my_helper_format_duration(remaining_time)} remaining..." %></span>
                    </div>
                  </div>
                <% end %>
                <div>
                  <p class="text-center font-weight-light small-text" >Original Estimate: <%= my_helper_format_duration(task.time_forecast) %> </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <hr class="hr hr-blurry" />
    <% end %>
  </div>
</div>