<div class="row">
  <% project.task_ids.each do |task| %>
    <% task = Task.find(task) %>
    <div class="col-md-4">
      <div class="card active-task-card m-1">
        <div class="card-body-active-card">
          <div class="d-flex justify-content-between align-items-center">
            <div class="fw-bold text-muted small-text">
              <%= task.status %>: <%= link_to task.jira_id, task_path(task) %>
              &nbsp;<a href="https://agenceinspire.atlassian.net/browse/<%= task.jira_id %>" target="_blank">
                <span><i class="bi bi-box-arrow-up-right"></i></span>
              </a>
            </div>
            <%= link_to truncate(task.assignee.name, length: 20), assignee_path(task.assignee) %>
            <span class="text-muted small-text"> <%= task.status %></span>
          </div>
          <% if task.time_forecast.nil? || task.time_spent.nil? %>
            <div class="progress mt-2">
              <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1"> No data</div>
            </div>
          <% else %>
            <% remaining_time = task.time_forecast - task.time_spent %>
            <% status_class = case remaining_time <=> 0
                            when -1 then 'text-danger'
                            when 0 then 'text-warning'
                            else 'text-success'
                            end %>
            <div class="progress mt-2">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (task.time_spent / task.time_forecast) * 100 %>%;" aria-valuenow=<% task.time_spent %> aria-valuemin="0" aria-valuemax=<% task.time_forecast %>>
                <span class="<%= status_class %> remaining-time" style="color:white !important;"><%= "#{my_helper_format_duration(remaining_time)} remaining..." %></span>
              </div>
            </div>
          <% end %>
          <div>
            <p class="text-center font-weight-light small-text" >Original Estimate: <%= my_helper_format_duration(task.time_forecast) %> </p>
          </div>
          <p class="card-text text-center font-weight-light small-text pt-0 pb-0 mt-0 mb-0"> <%= truncate(task.summary, length: 60) %> </p>
        </div>
        <div class="d-flex align-items-center justify-content-between mx-2">
          <div class="small-text">
            <% if task.assignee.on_vacation? %>
              <span class="badge bg-warning">On Vacation</span>
            <% end %>
          </div>
          <div class="small-text text-muted">
            <% if task.due_date.present? %>
              <div>Start date: <%= task.status_change_date.strftime("%e %B %Y")  %></div>
              <div>Due Date: <%= task.due_date.strftime("%e %B %Y") %></div>
            <% else %>
              No Data
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="py-3">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <% @projects_with_active_tickets.each do |project| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading<%= project.id %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= project.id %>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%= project.id %>">
            <span><%= project.name %></span>
            <span class="badge bg-secondary ms-2"><%= project.tasks.where(status:  ["In Progress", "En cours", "en cours"]).count %></span>
            <% no_data_tasks_in_the_project = project.tasks.where(status: "In Progress").where("time_forecast IS NULL OR time_spent IS NULL").count %>
            <% if no_data_tasks_in_the_project != 0 %>
              <span class="position-absolute top-0 start-100 m-1 p-1 translate-middle badge rounded-pill bg-danger">
                <%= no_data_tasks_in_the_project %>
                <span class="visually-hidden"></span>
              </button>
            <% end %>
          </h2>
          <div id="panelsStayOpen-collapse<%= project.id %>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%= project.id %>" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
              <%= render partial: 'tasks_accordion', locals: { project: project } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
