<div class="py-3">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <% @projects_with_active_tickets.each do |project| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading<%= project.id %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%= project.id %>" aria-expanded="false" aria-controls="panelsStayOpen-collapse<%= project.id %>">
            <span><%= project.name %></span>
            <span class="badge bg-secondary ms-2"><%= project.tasks.where(status:  ["In Progress", "En cours", "en cours"]).count %></span>
            <% no_data_tasks_in_the_project = project.tasks.where(status: "In Progress").where("time_forecast IS NULL OR time_spent IS NULL").count %>
            <% if no_data_tasks_in_the_project != 0 %>
              <span class="position-absolute top-0 start-100 m-1 p-1 translate-middle badge rounded-pill bg-danger">
                <%= no_data_tasks_in_the_project %>
                <span class="visually-hidden"></span>
              </button>
            <% end %>
          </h2>
          <div id="panelsStayOpen-collapse<%= project.id %>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%= project.id %>" data-bs-parent="#accordionPanelsStayOpenExample">
            <div class="accordion-body">
              <%= render partial: 'tasks_accordion', locals: { project: project } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
