  <!-- Dashboard Metrics -->
<div class="row justify-content-center mt-2">
  <div class="col-md-2 text-center">
    <p class="text-muted">"In Progress" Tasks</p>
    <h3><%= @in_progress_tasks_count %></h3>
  </div>
  <div class="col-md-2 text-center">
    <p class="text-muted">Tasks On Hold</p>
    <h3><%= @on_hold_tasks_count %></h3>
  </div>
  <div class="col-md-2 text-center">
    <p class="text-muted">Number of tickets</p>
    <div class="position-relative">
      <%= link_to tasks_path, class: "d-inline-block position-relative" do %>
        <h3 class="d-inline"><%= @total_number_of_tasks %></h3>
        <% if !@total_number_of_tasks_today.nil? %>
          <span class="position-absolute top-0 start-100 ms-3 translate-middle badge rounded-pill bg-success text-dark"  style="transform: translate(50%, -50%); font-size: 0.7em;">
            +<%= @total_number_of_tasks_today %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'projects_accordion'%>
<% if !@last_jira_update.nil? %>
  <span class="small-text text-muted">
    Last update: <strong><%= distance_of_time_in_words(@last_jira_update.created_at, Time.current, include_seconds: true) %> ago</strong>
    it lasted: <strong><%= number_with_precision(@last_jira_update.execution_time, precision: 1) %> s</strong>
  </span>
<% end %>
