<div class="container py-4">
  <!-- Dashboard Metrics -->
  <div class="row justify-content-center mt-4">
    <div class="col-md-3 text-center">
      <p class="text-muted">Number of projects</p>
      <h3><%= link_to @total_number_of_projects, projects_path %></h3>
    </div>
    <div class="col-md-3 text-center">
      <p class="text-muted">Number of assignees</p>
      <h3><%= link_to @total_number_of_assignees, assignees_path %></h3>
    </div>
    <div class="col-md-3 text-center">
      <p class="text-muted">Number of tickets</p>
      <h3><%= link_to @total_number_of_tasks, tasks_path %></h3>
    </div>
  </div>
</div>
<div style="display: flex;">
  <div style="width: 75%;">
    <%= render partial: 'active_tickets'%>
  </div>
  <div style="width: 25%;">
    <%= render partial: 'all_status_count'%>
  </div>
</div>
<!--  Information about tasks in progress today and yesterday
 <div class="row mt-4">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Today <%= Date.today.strftime("%e %B %Y")%></h5>
          <ul class="list-group">
            <li class="list-group-item">Number of tickets "In Progress":<strong> <%= @number_of_tickets_in_progress_today %></strong></li>
            <li class="list-group-item">Number of tickets "Done":<strong> <%= @number_of_tickets_done_today %></strong></li>
            <li class="list-group-item">Number of tickets "Waiting":<strong> <%= @number_of_tickets_waiting_today %></strong></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Yesterday <%= (Date.today - 1.days).strftime("%e %B %Y")%></h5>
          <ul class="list-group">
            <li class="list-group-item">Number of tickets "In Progress":<strong> <%= @number_of_tickets_in_progress_yesterday %></strong></li>
            <li class="list-group-item">Number of tickets "Done":<strong> <%= @number_of_tickets_done_yesterday %></strong></li>
            <li class="list-group-item">Number of tickets "Waiting":<strong> <%= @number_of_tickets_waiting_yesterday %></strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Active today:</h5>
          <ul class="list-group">
            <% if @assignees_and_tickets_count.blank? %>
              <%= 'No work was done today, yet!' %>
            <% else %>
              <% @assignees_and_tickets_count.sort_by { |a| a[:ticket_count] }.reverse.each_with_index do |assignee, index| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span><%= link_to assignee[:name], assignee_path(assignee[:id]) %></span>
                  <span class="badge bg-warning text-dark"><%= assignee[:ticket_count] %> tickets </span>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  -->