<%= form_tag(projects_path, method: :get, class: "row g-3 align-items-end") do %>
  <div class="col-md-4">
    <%= label_tag(:search_term, "Search by project name or Jira ID:", class: "form-label") %>
    <%= text_field_tag(:search_term, params[:search_term], class: "form-control") %>
  </div>
  <div class="col-md-4">
    <%= label_tag(:project_lead, "Project Lead:", class: "form-label") %>
    <%= select_tag(:project_lead, options_for_select(Project.distinct.pluck(:lead), params[:lead]), prompt: "Select Lead", class: "form-select") %>
  </div>
  <div class="col-md-2 align-self-end">
    <%= submit_tag("Search", class: "btn btn-secondary") %>
  </div>
<% end %>
