<div class="container py-4">
  <div class="row align-items-end  mb-3">
    <div class="col-md-8">
      <%= render "list_search_form" %>
    </div>
    <div class="col-md-4">
      <div align="right" style="font-size: 80%"><%= page_entries_info @projects, entry_name: 'project' %></div>
      <span class="d-flex flex-row-reverse"><%= link_to_next_page @projects, 'Next' %>&nbsp;&nbsp;<%= link_to_previous_page @projects, 'Previous' %></span>
    </span>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>JIRA ID</th>
      <th>Name</th>
      <th>Lead</th>
      <th># Tickets</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.jira_id %></td>
        <td><%= project.name %></td>
        <td><%= project.lead %></td>
        <td><%= project.tasks.count %></td>
        <td class="text-end">
          <%= link_to "Prod View", { action: "show", id: project.id }, class: "btn btn-secondary btn-sm" %>
          <% if current_user.admin? %>
            <%= link_to "Admin View", { action: "project_details", id: project.id }, class: "btn btn-warning btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
