</br>
<div class="d-flex justify-content-start">
  <%= button_to "Import projects from JIRA", { action: "retrieve_projects" }, method: :post, class: "btn btn-dark mb-4" %>
  <%= button_to "Delete all Projects", { action: "destroy_all" }, method: :post, class: "btn btn-warning mb-4 ml-2" %></div>
Total projects: <%= @projects.count %></br>
<table class="table">
  <thead>
    <tr>
      <th>JIRA ID</th>
      <th>Name</th>
      <th>Lead</th>
      <th># Tickets</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.jira_id %></td>
        <td><%= project.name %></td>
        <td><%= project.lead %></td>
        <td><%= project.tasks.count %></td>
        <td><%= link_to "View", { action: "show", id: project.id }, class: "btn btn-warning btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>