<div class="container pt-4" style="max-width: 80%;">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span><%= @project.name %></span>
      <div>
        <%= link_to "Devis", project_quotes_path(@project), class: "btn btn-dark btn-sm mb-0 text-light ml-auto" -%>
      </div>
    </div>
    <div class="card-body">
      <h5 class="mb-0">
      </h5>
      <div class="d-flex justify-content-end">
        <%= link_to generate_pdf_report_projects_path(id: @project.id), method: :post, class: 'btn p-0' do %>
          Generate report <i class="bi bi-database-fill-gear" style="color: black;"></i>
        <% end %>
    </div>
    <p class="card-text">
      <div>Total Internal Cost: <span class="badge bg-primary text-light" ><%= number_with_precision(@project_total_internal_cost, precision: 1) %> TND</span></div>
      <!-- Selling price section -->
      <% if @project.total_selling_price.blank? || @project.total_selling_price == 0 %>
        <div>
          Total Selling Price:
          <span class="small-text">
            <%= link_to "Add Selling Price", "#", id: "addSellingPriceLink" %>
          </span>
        </div>
      <% else %>
        <div>
          Total Selling Price: 
          <span class="badge bg-primary text-light">
            <%= number_with_precision(@project.total_selling_price, precision: 1) %> TND
          </span>
        </div>
        <div>
          <% if @revenue_from_project >= 0 %>
            We made
            <span class="badge bg-success text-dark">
              <%= number_with_precision((@revenue_from_project) , precision: 1) %> TND
            </span>
          <% else %>
            We lost
            <span class="badge bg-warning text-light">
              <%= number_with_precision((@revenue_from_project) , precision: 1) %> TND
            </span>
          <% end %>
        </div>
      <% end %>
    </p>
  </div>
  <!-- diffrence in price section w/l -->
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Ressources</th>
          <th>Total time worked</th>
        </tr>
      </thead>
      <tbody>
        <% @projects_assignees.each do |assignee| %>
          <tr>
            <td><%= link_to assignee.name, assignee %></td>
            <td>
              <% if assignee.hourly_rate.present? && assignee.hourly_rate.to_f != 0 %>
                <%= number_with_precision((assignee.total_time_spent.to_f / 3600) * assignee.hourly_rate.to_f, precision: 1) %> TND
              <% else %>
                Check if the assignee hourly rate is set!
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- Selling price modal -->
<div class="modal fade" id="editSellingPriceModal" tabindex="-1" aria-labelledby="editSellingPriceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSellingPriceModalLabel">Add Selling Price</h5>
        <button type="button" class="btn-close" id="dismissButton" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "edit", project: @project %>
      </div>
    </div>
  </div>
</div>
