<div class="container py-4">
  <div class="pb-2">
    <%= link_to "Back", :back %>
  </div>
  <!-- Statistics -->
  <div class="row justify-content-between mb-4">
    <!-- Project details -->
    <div class="col-12 col-md-6">
      <h1 class="fw-bold mb-3"><%= @project.name %>
        <%= link_to "View Project",  { action: "project_details" }, method: :post, class: "btn btn-light btn-sm mb-0 text-dark" %>
      </h1>
      <% @projects_unique_statuses.each do |status| %>
        <p class="card-text mb-1">
          <%= status %>
          <span class="badge bg-info text-dark"> <%= @status_task_counts[status] %></span>
          <span class="badge bg-primary"> <%=  "#{(@status_task_percentages[status])}%" %></span>
        </p>
      <% end %>
    </div>
    <!-- Team / Filtres -->
    <div class="col-12 col-md-6">
      <div class="d-flex align-items-center">
        <h1 class="mb-2 me-3">Team</h1>
        <span class="badge bg-dark fs-6"><%= @project_tasks.count %> tickets</span>
      </div>
      <div class="row">
        <% if @projects_unique_assignees.present? %>
          <% @projects_unique_assignees.each_slice((@projects_unique_assignees.size + 1) / 2.to_i) do |assignees| %>
            <div class="col-6">
              <% assignees.each do |assignee| %>
                <p class="card-text mb-1">
                  <%= assignee %>
                  <span class="badge bg-info text-dark"> <%= @assignee_task_counts[assignee] %></span>
                  <span class="badge bg-primary"> <%= "#{(@assignee_task_percentages[assignee]).round(2)} %" %></span>
                  <span class="badge bg-warning text-light"> <%= (@assignee_time_spent[assignee] / 3600 ).round(2)%> hours</span>
                </p>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p>No unique assignees found.</p>
        <% end %>
      </div>
    </div>
    <!-- Statistics -->
    <div class="col-12 col-md-12 pt-3">
      <h2 class="fw-bold mb-3">Stats</h2>
      <div class="bg-stats border-0">
        <div class="card-body row">
          <div class="col-4">
            <div class="mb-1">
              <span class="badge bg-light text-dark">Total Time Estimated</span>
              <span class="badge bg-secondary"><%= my_helper_format_duration(@total_time_estimation) %></span>
            </div>
            <div class="mb-1">
              <span class="badge bg-light text-dark">Total Time Spent</span>
              <span class="badge bg-secondary"><%= my_helper_format_duration(@total_time_spent) %></span>
            </div>
            <span class="badge bg-light text-dark">Difference</span>
            <% if @time_difference.present? %>
              <div class="mb-1">
                <% color = @time_difference.positive? ? "success" : (@time_difference < 0 ? "danger" : "secondary") %>
                <span class="badge bg-<%= color %>"><%= my_helper_format_duration(@time_difference) %></span>
              </div>
            <% else %>
              <span class="badge bg-danger text-light">No data</span>
            <% end %>
          </div>
          <div class="col-4">
            <div class="mb-1">
              <span class="badge bg-light text-dark">In Time</span>
              <span class="badge bg-success"><%= @tasks_by_time_status[:in_time][:count] %></span>
              <span class="badge bg-success"><%= @tasks_by_time_status[:in_time][:percentage] %>%</span>
            </div>
            <div class="mb-1">
              <span class="badge bg-light text-dark">Early</span>
              <span class="badge bg-warning"><%= @tasks_by_time_status[:early][:count] %></span>
              <span class="badge bg-warning"><%= @tasks_by_time_status[:early][:percentage] %>%</span>
            </div>
            <div class="mb-1">
              <span class="badge bg-light text-dark">Delayed</span>
              <span class="badge bg-danger"><%= @tasks_by_time_status[:delayed][:count] %></span>
              <span class="badge bg-danger"><%= @tasks_by_time_status[:delayed][:percentage] %>%</span>
            </div>
            <div class="mb-1">
              <span class="badge bg-light text-dark">No data</span>
              <span class="badge bg-dark"><%= @tasks_by_time_status[:no_data][:count] %></span>
              <span class="badge bg-dark"><%= @tasks_by_time_status[:no_data][:percentage] %>%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination -->
  <div align="right" style="font-size: 80%"><%= page_entries_info @project_tasks_paginated, entry_name: 'task' %></div>
  <span class="d-flex flex-row-reverse"><%= link_to_next_page @project_tasks_paginated, 'Next' %>&nbsp;&nbsp;<%= link_to_previous_page @project_tasks_paginated, 'Previous' %></span>
  <!-- Tickets - Cards -->
  <div class="row row-cols-1 row-cols-md-3 g-2">
    <% @project_tasks_paginated.each do |task| %>
      <div class="col">
        <div class="card card-task border-0 h-100">
          <div class="card-header d-flex justify-content-between align-items-center">
            <div class="fw-bold text-muted">
              <%= task.status %>: <%= link_to task.jira_id, "https://agenceinspire.atlassian.net/browse/#{task.jira_id}", target: "_blank" %>
            </div>
            <div class="d-flex align-items-center">
              <span class="me-2"><%= task.priority %></span>
              <i class="bi bi-arrow-up"></i>
            </div>
          </div>
          <span class="badge bg-secondary"><%= task.epic %></span>
          <div class="card-body">
            <span class="pb-0 pt-0 mt-0 mb-0"><%= link_to task.assignee.name , task.assignee %></span>
            <h5 class="card-title pt-0 pb-0 mt-0 mb-0"><%= link_to task.project.name, task.project %></h5>
            <p class="card-text pt-0 pb-0 mt-0 mb-0">Time Estimation: <%= my_helper_format_duration(task.time_forecast) %></p>
            <p class="card-text pt-0 pb-0 mt-0 mb-0">Time spent: <%= my_helper_format_duration(task.time_spent) %> </p>
            <p class="card-text pt-0 pb-0 mt-0 mb-0">Summary: <%= task.summary %> </p>
            <% task.labels&.split&.each do |label| %>
              <span class="badge rounded-pill bg-primary pb-0 mb-0"><%= label.gsub(/[^a-zA-Z\s]/, '') %></span>
            <% end %>
          </div>
          <div class="small-text text-end text-muted me-1">
            <% if task.due_date.present? %>
              <div>Start date: <%= task.status_change_date.strftime("%e %B %Y")  %></div>
              <div>Due Date: <%= task.due_date.strftime("%e %B %Y") %></div>
            <% else %>
              No Data
            <% end %>
          </div>
          <div class="card-footer bg-light">
            <small class="text-muted">
              Created at: <%= task.created_at %>
            </small>
          </br>
          <small class="text-muted">
            Updated at: <%= task.last_jira_update %>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>