<div class="container py-4" style="max-width: 50%;">
  <div>
    <%= simple_form_for @assignee do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :admin %>
      <%= f.input :salary %>
      <%= f.input :hourly_rate %>
      <%= f.button :submit, class:"btn btn-dark text-light mb-5" %>
    <% end %>
  </div>
</div>