<div class="container py-4">
  <% if current_user.admin? %>
    <div class="d-flex justify-content-start">
      <%= button_to "Import users from JIRA", { action: "retrieve_assignees" }, method: :post, class: "btn btn-secondary mb-4" %>
      <% if Task.any? %>
        <span></span>
      <% else %>
        <%= button_to "Delete all Assignees", { action: "destroy_all" }, method: :post, class: "btn btn-warning mb-4 ml-2" %>
      <% end %>
    </div>
  <% end %>
  Total users: <%= @assignees_count %></br>
<div align="right" style="font-size: 80%"><%= page_entries_info @assignees, entry_name: 'assignee' %></div>
<span class="d-flex flex-row-reverse"><%= link_to_next_page @assignees, 'Next' %>&nbsp;&nbsp;<%= link_to_previous_page @assignees, 'Previous' %></span>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th># Tickets</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @assignees.each do |assignee| %>
      <tr>
        <td><%= assignee.id %></td>
        <td><%= assignee.name %></td>
        <td><%= assignee.email %></td>
        <td><%= assignee.tasks.count %></td>
        <td class="text-end">
          <%= link_to "Prod View", { action: "show", id: assignee.id }, class: "btn btn-secondary btn-sm" %>
          <% if current_user.admin? %>
            <%= link_to "Admin View", { action: "assignee_profile", id: assignee.id }, class: "btn btn-warning btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>