<div class="container py-4">
  <!-- Statistics -->
  <div class="row justify-content-between mb-4">
    <div class="col-12 col-md-6">
      <h1 class="mb-2">Assignee #<%= @assignee.id %></h1>
      <h2 class="fw-bold mb-3"><%= @assignee.name %></h2>
      <div>
        <!-- Hover CR -->
        <%= render partial: 'hover_cr_today' %>
        <%= render partial: 'hover_cr_yesterday' %>
        <span class="hover-text"><%= Date.today.strftime("%e %B %Y") %></span>
      </br>
      <span class="hover-text"><%= (Date.today - 1).strftime("%e %B %Y") %></span>
    </div>
    <!-- Stats -->
  </div>
  <div class="col-12 col-md-6">
    <h2 class="fw-bold mb-3">Stats</h2>
    <div class="bg-stats border-0">
      <div class="card-body">
        <p class="card-text mb-1">Total tickets: <%= @assignee_tasks.count %></p>
        <p class="card-text mb-1">Total Time Estimation: <%= my_helper_format_duration(@total_time_estimation) %></p>
        <p class="card-text mb-1">Total Time Spent: <%= my_helper_format_duration(@total_time_spent) %></p>
      </div>
    </div>
  </div>
</div>
<!-- Tickets - Cards -->
<div align="right" style="font-size: 80%"><%= page_entries_info @assignee_tasks_paginated, entry_name: 'task' %></div>
<span class="d-flex flex-row-reverse"><%= link_to_next_page @assignee_tasks_paginated, 'Next' %>&nbsp;&nbsp;<%= link_to_previous_page @assignee_tasks_paginated, 'Previous' %></span>
<div class="row row-cols-1 row-cols-md-3 g-2">
  <% @assignee_tasks_paginated.each do |task| %>
    <div class="col">
      <div class="card card-task border-0 h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class="fw-bold text-muted">
            <%= task.status %>: <%= link_to task.jira_id, "https://agenceinspire.atlassian.net/browse/#{task.jira_id}", target: "_blank" %>
          </div>
          <div class="d-flex align-items-center">
            <span class="me-2"><%= task.priority %></span>
            <i class="bi bi-arrow-up"></i>
          </div>
        </div>
        <span class="badge bg-secondary"><%= task.epic %></span>
        <div class="card-body">
          <span class="pb-0 pt-0 mt-0 mb-0"><%= link_to task.assignee.name , task.assignee %></span>
          <h5 class="card-title pt-0 pb-0 mt-0 mb-0"><%= link_to task.project.name, task.project %></h5>
          <p class="card-text pt-0 pb-0 mt-0 mb-0">Time Estimation: <%= my_helper_format_duration(task.time_forecast) %></p>
          <p class="card-text pt-0 pb-0 mt-0 mb-0">Time spent: <%= my_helper_format_duration(task.time_spent) %> </p>
          <p class="card-text pt-0 pb-0 mt-0 mb-0">Summary: <%= task.summary %> </p>
          <% task.labels&.split&.each do |label| %>
            <span class="badge rounded-pill bg-primary pb-0 mb-0"><%= label.gsub(/[^a-zA-Z\s]/, '') %></span>
          <% end %>
        </div>
        <div class="card-footer bg-light">
          <small class="text-muted">
            Created at: <%= task.created_at %>
          </small>
        </br>
        <small class="text-muted">
          Updated at: <%= task.last_jira_update %>
        </small>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const hoverTexts = document.querySelectorAll(".hover-text");
    const hoverContents = document.querySelectorAll(".hover-content");

    hoverTexts.forEach(function(hoverText, index) {
      hoverText.addEventListener("mouseover", function(event) {
        // Calculate the position of the cursor relative to the viewport
        const x = event.clientX;
        const y = event.clientY;

        // Set the position of the hover content relative to the cursor
        hoverContents[index].style.display = "block";
        hoverContents[index].style.top = `${y + 10}px`;
        hoverContents[index].style.left = `${x + 10}px`;
      });

      hoverText.addEventListener("mouseout", function() {
        hoverContents[index].style.display = "none";
      });
    });
  });
</script>