<div class="container py-4">
  <!-- Statistics -->
  <div class="row justify-content-between mb-4">
    <div class="col-12 col-md-6">
      <h1 class="mb-2">Assignee #<%= @assignee.id %></h1>
      <h2 class="fw-bold mb-3"><%= @assignee.name %></h2>
    </div>
    <div class="col-12 col-md-6">
      <h2 class="fw-bold mb-3">Stats</h2>
      <div class="card border-0">
        <div class="card-body">
          <p class="card-text mb-1">Total tickets: <%= @tasks.count %></p>
          <p class="card-text mb-1">Total Time Estimation: <%= my_helper_format_duration(@total_time_estimation) %></p>
          <p class="card-text mb-1">Total Time Spent: <%= my_helper_format_duration(@total_time_spent) %></p>
        </div>
      </div>
    </div>
    <!-- Tickets - Cards -->
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @tasks.each do |task| %>
      <div class="col">
        <div class="card border-0 h-100">
          <div class="card-header bg-light text-muted">
            JIRA ID: <%= task.jira_id %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Project: <%= task.project.name %></h5>
            <p class="card-text">Status: <%= task.status %></p>
            <p class="card-text">Time Estimation: <%= my_helper_format_duration(task.time_forecast) %>  </p>
            <p class="card-text">Time spent: <%= my_helper_format_duration(task.time_spent) %>  </p>
          </div>
          <div class="card-footer bg-light">
            <small class="text-muted">
              Updated at: <%= task.assignee.updated_at %>
            </small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>